<footer class="page-footer" style="background: #151826">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    function showHide()
    {
        var selectBox = document.getElementById('instruments')
        var userinput = selectBox.options[selectBox.selectedIndex].value;
        if (userinput == 'PCLInfo')
        {
           console.log(userinput);
           document.getElementById("textshort").innerHTML = "{{getTextShort 'PCLInfo'}}";
           M.textareaAutoResize($('#textshort'));
           document.getElementById("textdetail").innerHTML = "{{getTextDetail 'PCLInfo'}}";
           M.textareaAutoResize($('#textdetail'));
        }
        else if (userinput == 'DigitalAirspeedIndicatorInfo')
        {
            console.log(userinput);
            document.getElementById("textshort").innerHTML = "{{getTextShort 'DigitalAirspeedIndicatorInfo'}}";
            document.getElementById("textdetail").innerHTML = "{{getTextDetail 'DigitalAirspeedIndicatorInfo'}}";
        }
        else if (userinput == 'EADIInfo')
        {
            console.log(userinput);
            document.getElementById("textshort").innerHTML = "{{getTextShort 'EADIInfo'}}";
            document.getElementById("textdetail").innerHTML = "{{getTextDetail 'EADIInfo'}}";
        }


        else
        {
            document.getElementById("textshort").innerHTML = '';
            document.getElementById("textdetail").innerHTML = '';
        }
        return false;
    }

    function getSelection()
    {
        var selectBox = document.getElementById('instruments')
        var userinput = selectBox.options[selectBox.selectedIndex].value;
        return document.getElementById("textshort").innerHTML = 'changed' + userinput;
    }
    </script>
  <script>
      

  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });

   $(document).ready(function(){
    $('select').formSelect();
  });

  $(document).ready(function(){
    $('select').formSelect();
  });
  
    M.textareaAutoResize($('#textshort'));
    M.textareaAutoResize($('#textdetail'));
  
  </script>

  </body>
</html>